body{
    font-family: 'Montserrat',sans-serif;
}
/* nav header  */
/* Importación de fuentes de Google */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital@1&family=Montserrat:wght@100&display=swap');

/* Variables CSS */
:root {
  --header-height: 3.5rem; /* Altura del encabezado */
  /* Colores */
  --first-color: #33658A; /* Color principal */
  --first-color-lighten: hsl(220, 68%, 97%); /* Color principal aclarado */
  --title-color: #2f4858; /* Color del título */
  --text-color: hsl(220, 12%, 45%); /* Color del texto */
  --body-color: hsl(220, 100%, 99%); /* Color de fondo del cuerpo */
  /* Tipografía */
  --body-font: "Poppins", sans-serif; /* Fuente del cuerpo */
  /* Peso de la fuente */
  --font-medium: 500;
  --font-semi-bold: 600;
}

/* Estilos base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.nav__menu{
  margin-left: 265px;
}

#header-icono{
  margin-left: -100px;
}

/* Clase reutilizable para contenedor */
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/* Estilos del encabezado */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
  background-color: white;
  z-index: 1000;
}

/* Estilos del logotipo en el encabezado */
/* ubicacion del icono BeSmart */
.ubi-icono{
  display: flex;
  margin-left: -135px;
}
#header-icono{
  height: 80px;
  width: 350px;
  /*afectan a los margenes del slider teams*/ /*quizas metiendo todo dentro de un contenedor?*/
}

/* Estilos para el desplegable de países */
/* ubicacion paises */


/* ubicacion nav */


#bandera-principal{
  height: 20px;
  width: max-content;
}

#tamaño-paises{
  height: 20px;
  width: 30px;
  margin-top: 2px;
}

.fondo-paises ul {
  display: block;
  list-style: none;
}
.fondo-paises a {
  display: block;
  padding: 5px 5px 5px 5px;
  background-color: none;
  text-decoration: none;
  color: #191C26;
  height: 30px;
  width: 50px;
  background-color: #F6AE2D;
  border-radius: 3px;
}

.fondo-paises  a:hover {
  background-color: rgba(246, 174, 45, 0.5);
  height: 30px;
  width: 50px;
}
.fondo-paises ul li {
  position: relative;
}
.fondo-paises ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}
.fondo-paises ul li a:hover + ul, .fondo-paises  ul li ul:hover {
  display: block;
}



/* Estilos para el botón de contacto */
.boton-contacto {
  background-color: #A8201A;
  color: #fff;
  border-radius: 18px;
  padding: 8px 8px;
  margin-left: 10px; /* Ajusta el margen según sea necesario */
  height: 40px;
  margin-left: -18%;
  margin-top:20%;
  transition: background-color 0.3s; /* Agregado para la transición de color */
}

.boton-contacto h6{
  font-size: 13px;
  margin-top: 5%;
}
.boton-contacto:hover {
  background-color: rgba(51, 101, 138, 0.8);/* Cambia el color al pasar el cursor */
  color: black;
}

/* Icono de país en el menú */
#icono-pais{
  height: 20px;
  width: 20px;
}

/* Contenedor de menú */
.menu-container {
  display: flex;
}

.menu-item {
  position: relative;
  margin: 10px;
}

/* Estilos de navegación */
.nav {
  height: var(--header-height);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos del logotipo en la navegación */
.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.3s;
}

.nav__logo i {
  font-size: 1.25rem;
}

.nav__logo:hover {
  color: var(--first-color);
}

/* Estilos del botón de menú en dispositivos móviles */
.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__toggle-menu, .nav__toggle-close {
  font-size: 1.25rem;
  color: var(--title-color);
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__toggle-close {
  opacity: 0;
}

/* Estilos del menú en dispositivos móviles */
@media screen and (max-width: 1118px) {
  .nav__menu {
    background-color: var(--body-color);
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    padding-block: 1.5rem 4rem;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }

  .nav__menu::-webkit-scrollbar {
    width: 0.5rem;
  }

  .nav__menu::-webkit-scrollbar-thumb {
    background-color: hsl(220, 12%, 70%);
  }
}


/* Estilos específicos para versiones móviles */
@media only screen and (max-width: 600px) {
  #header-icono {
      /* Ajusta la posición para pantallas más pequeñas (móviles) */
      margin-top: 4px; /* Ajusta la posición vertical según tus necesidades */
      margin-left: 5px; /* Ajusta la posición horizontal según tus necesidades */
      height: 50px;
      width: 180px;
      margin-left: -50px;
  }
}
/* Estilos específicos para versiones móviles */

@media only screen and (max-width: 600px) {
  #header-icono {
    margin-top: -4px;
    margin-left: 5px;
    height: 50px;
    width: 240px;
    margin-left: -80px;
    content: url('./img/iconoamarillo.png');
  }
}



/* Estilos de los enlaces de navegación */
.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.nav__link:hover {
  background-color: var(--first-color-lighten);
}

/* Estilos del menú cuando está abierto */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Icono de menú en dispositivos móviles */
.show-icon .nav__toggle-menu {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}

/* Estilos del desplegable */
.dropdown__button {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.5rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__content, .dropdown__group, .dropdown__list {
  display: grid;
}

.dropdown__container {
  background-color: var(--first-color-lighten);
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}

.dropdown__content {
  row-gap: 1.75rem;
}

.dropdown__group {
  padding-left: 2.5rem;
  row-gap: 0.5rem;
}

.dropdown__group:first-child {
  margin-top: 1.25rem;
}

.dropdown__group:last-child {
  margin-bottom: 1.25rem;
}

.dropdown__icon i {
  font-size: 1.25rem;
  color: var(--first-color);
}

.dropdown__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.dropdown__list {
  row-gap: 0.25rem;
}

.dropdown__link {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  transition: color 0.3s;
}

.dropdown__link:hover {
  color: var(--title-color);
}

/* Rotación del icono en el desplegable */
.show-dropdown .dropdown__arrow {
  transform: rotate(180deg);
}

/* Puntos de quiebre para dispositivos pequeños */
@media screen and (max-width: 300px) {
  .dropdown__group {
    padding-left: 1.5rem;
  }
}

/* Puntos de quiebre para dispositivos grandes */
@media screen and (min-width: 1118px) {
  /* Estilos de la barra de navegación para dispositivos grandes */
  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }

  #header-icono{

    height: 85px;
    width: 290px;
  }
  /* Oculta el botón de menú en dispositivos grandes */
  .nav__toggle {
    display: none;
  }

  /* Estilos de la lista de navegación para dispositivos grandes */
  .nav__list {
    display: flex;
    column-gap: 3rem;
    height: 100%;
  }

  /* Estilos de los elementos de la lista de navegación para dispositivos grandes */
  .nav li {
    display: flex;
  }

  .nav__link {
    padding: 0;
  }

  .nav__link:hover {
    background-color: initial;
  }

  /* Estilos del desplegable para dispositivos grandes */
  .dropdown__button {
    column-gap: 0.25rem;
    pointer-events: none;
  }

  .dropdown__container {
    height: max-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 6.5rem;
    background-color: var(--body-color);
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }

  .dropdown__content {
    grid-template-columns: repeat(4, max-content);
    column-gap: 6rem;
    max-width: 1120px;
    margin-inline: auto;
  }

  .dropdown__group {
    padding: 4rem 0;
    align-content: baseline;
    row-gap: 1.25rem;
  }

  .dropdown__group:first-child, .dropdown__group:last-child {
    margin: 0;
  }

  .dropdown__list {
    row-gap: 0.75rem;
  }

  .dropdown__icon {
    width: 60px;
    height: 60px;
    background-color: var(--first-color-lighten);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
  }

  .dropdown__icon i {
    font-size: 2rem;
  }

  .dropdown__title {
    font-size: var(--normal-font-size);
  }

  .dropdown__link {
    font-size: var(--small-font-size);
  }

  .dropdown__link:hover {
    color: var(--first-color);
  }

  .dropdown__item {
    cursor: pointer;
  }

  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }

  .dropdown__item:hover > .dropdown__container {
    top: 5.5rem;
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
  }
}

/* Ajuste para dispositivos más grandes */
@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
}


/* Oculta el botón de contacto en dispositivos móviles */

@media screen and (max-width: 768px) {
  .boton-contacto{
    display: none;
  }
  .fondo-paises{
    display:none;
  }
}
@media screen and (min-width: 600px) and (max-width: 1116px) {
    #header-icono{
    height: 50px;
    width: 180px;
    margin-left: -16%;
  
    }
    .boton-contacto{
      display: none;
    }
    .fondo-paises{
     display: none;
    }
  }


/* fin nav header */


body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgba(51, 101, 138, 0.7); /* RGBA con 70% de opacidad */
  }
  
  .formulario {
    background-color: #E4DEDE;
    padding: 20px;
    width: 500px;
    box-sizing: border-box;
    margin-top: 125px;
    height: 425px;
    border-radius: 5px;
    margin-left: 60px;
  }
  
  .formulario h2 {
    color: #333;
    text-align: center;
  }
  
  .formulario form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .formulario label {
    text-align: center;
    margin-bottom: 8px;
  }
  
  .formulario input,
  .formulario button {
    padding: 8px;
    margin-bottom: 15px;
    margin-top: 8px;
    width: 300px;
    margin-left: 80px;

  }
  
  .formulario button {
    background-color: #A8201A;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    width: 150px ;
    margin-left: 160px;
    border-radius: 4px;
  }
  
  .mapa {
    flex-grow: 1;
    margin-left: 650px;
    margin-top: -425px;
    border-radius: 10px;
  }


  .mapa iframe {
    border-radius: 10px;
    height: 430px;
} 
  /* Estilos específicos para versiones móviles */

  .message-container {
    /* Existing styles... */
    text-align: center; /* Center the text */
  }
  
  .confirmation-message {
    background-color: #4CAF50; /* Green background color for confirmation */
    color: #fff; /* White text color */
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s;
    margin-top: -475px; /* Adjust the top margin as needed */
    margin-left: 20px;
  }
  
  .confirmation-message.show {
    opacity: 1;
  }



/* Estilos para dispositivos medianos */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Estilos para dispositivos medianos */
    .mapa {
        margin-top: 60px;
        margin-left: -0px;
        width: 100%; /* Cambia el ancho al 100% para que se ajuste al contenedor */
      }
    
      .mapa iframe {
        width: 100%; /* Ajusta el ancho del mapa al 100% */
        height: 300px; /* Ajusta la altura del mapa según tus necesidades */
      }
      .formulario{
          margin-left: -70px;
          width: 440px;
      }
    }

   /* Estilos específicos para versiones móviles */
@media only screen and (max-width: 600px) {
    .content-container1 {
        max-width: 100%; /* Ajusta según sea necesario */
        margin: 0 auto; /* Centra el contenido */
    }

    .formulario {
        width: 100%; /* Ajusta según sea necesario */
        margin-left: 0; /* Ajusta según sea necesario */
    }

    .mapa {
        width: 100%; /* Ajusta según sea necesario */
        margin-left: 0; /* Ajusta según sea necesario */
    }
}

.final-footer {
  background-color: #2f4858;
  border-top: 5px solid #55DDE0;
}
.copy-footer{
padding: 20px 15px;
text-align: center;
}
.copy-footer span{
padding-right: 0px;
}
.copy-footer a{
color:white;
padding: 0 10px;
text-decoration: underline;
}
@media screen and (max-width: 1024px) {
.first-footer {
  padding: 50px 25px;
  flex-direction: column;
}
.second-footer .container {
  flex-direction: column;
  gap: 20px;
}
.phone-footer {
  margin-bottom: 0;
}
}
body {
  overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
}

/* Estilos específicos para versiones móviles */
@media only screen and (max-width: 600px) {
  .content-container1 {
      max-width: 100%; /* Ajusta según sea necesario */
      margin: 0 auto; /* Centra el contenido */
  }

  .formulario {
      width: 100%; /* Ajusta según sea necesario */
      margin-left: 0; /* Ajusta según sea necesario */
  }

  .mapa {
      width: 100%; /* Ajusta según sea necesario */
      margin-left: 0; /* Ajusta según sea necesario */
  }
}


/* Estilos específicos para versiones móviles */
@media only screen and (max-width: 600px) {
  .mapa {
      width: 100%;
      margin-left: 0;
  }

  .mapa iframe {
      width: 100%;
      height: 300px; /* Ajusta la altura según sea necesario */
  }
}

/* Estilos específicos para versiones móviles */
@media only screen and (max-width: 600px) {
  .mapa {
      margin-top: 0; /* Ajusta según sea necesario */
      margin-left: 0; /* Ajusta según sea necesario */
  }
}

/* Estilos específicos para versiones móviles */
@media only screen and (max-width: 600px) {
  .mapa {
      display: block; /* Ajusta según sea necesario */
      margin-bottom: 10%;
      margin-top: 20%;
  }
}

@media only screen and (min-width: 1117px) {
  
  footer{
    margin-top: 2%;
    margin-right: -10%;
  }
  .nav__menu{
    margin-right: -10%;
  }
}




