body{
    font-family: 'Montserrat',sans-serif;
}
/* nav header  */
/* Importación de fuentes de Google */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital@1&family=Montserrat:wght@100&display=swap');

/* Variables CSS */
:root {
  --header-height: 3.5rem; /* Altura del encabezado */
  /* Colores */
  --first-color: #33658A; /* Color principal */
  --first-color-lighten: hsl(220, 68%, 97%); /* Color principal aclarado */
  --title-color: #2f4858; /* Color del título */
  --text-color: hsl(220, 12%, 45%); /* Color del texto */
  --body-color: hsl(220, 100%, 99%); /* Color de fondo del cuerpo */
  /* Tipografía */
  --body-font: "Poppins", sans-serif; /* Fuente del cuerpo */
  /* Peso de la fuente */
  --font-medium: 500;
  --font-semi-bold: 600;
}

/* Estilos base */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.nav__menu{
  margin-left: 265px;
}

#header-icono{
  margin-left: -100px;
}

/* Clase reutilizable para contenedor */
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/* Estilos del encabezado */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
  background-color: white;
  z-index: 1000;
}

/* Estilos del logotipo en el encabezado */
/* ubicacion del icono BeSmart */
.ubi-icono{
  display: flex;
  margin-left: -135px;
}
#header-icono{
  height: 80px;
  width: 350px;
  /*afectan a los margenes del slider teams*/ /*quizas metiendo todo dentro de un contenedor?*/
}

/* Estilos para el desplegable de países */
/* ubicacion paises */


/* ubicacion nav */


#bandera-principal{
  height: 20px;
  width: max-content;
}

#tamaño-paises{
  height: 20px;
  width: 30px;
  margin-top: 2px;
}

.fondo-paises ul {
  display: block;
  list-style: none;
}
.fondo-paises a {
  display: block;
  padding: 5px 5px 5px 5px;
  background-color: none;
  text-decoration: none;
  color: #191C26;
  height: 30px;
  width: 50px;
  background-color: #F6AE2D;
  border-radius: 3px;
}

.fondo-paises  a:hover {
  background-color: rgba(246, 174, 45, 0.5);
  height: 30px;
  width: 50px;
}
.fondo-paises ul li {
  position: relative;
}
.fondo-paises ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}
.fondo-paises ul li a:hover + ul, .fondo-paises  ul li ul:hover {
  display: block;
}



/* Estilos para el botón de contacto */
.boton-contacto {
  background-color: #A8201A;
  color: #fff;
  border-radius: 18px;
  padding: 8px 8px;
  margin-left: 10px; /* Ajusta el margen según sea necesario */
  height: 40px;
  margin-left: -18%;
  margin-top:20%;
  transition: background-color 0.3s; /* Agregado para la transición de color */
}

.boton-contacto h6{
  font-size: 13px;
  margin-top: 5%;
}
.boton-contacto:hover {
  background-color: rgba(51, 101, 138, 0.8);/* Cambia el color al pasar el cursor */
  color: black;
}

/* Icono de país en el menú */
#icono-pais{
  height: 20px;
  width: 20px;
}

/* Contenedor de menú */
.menu-container {
  display: flex;
}

.menu-item {
  position: relative;
  margin: 10px;
}

/* Estilos de navegación */
.nav {
  height: var(--header-height);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos del logotipo en la navegación */
.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.3s;
}

.nav__logo i {
  font-size: 1.25rem;
}

.nav__logo:hover {
  color: var(--first-color);
}

/* Estilos del botón de menú en dispositivos móviles */
.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__toggle-menu, .nav__toggle-close {
  font-size: 1.25rem;
  color: var(--title-color);
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__toggle-close {
  opacity: 0;
}

/* Estilos del menú en dispositivos móviles */
@media screen and (max-width: 1118px) {
  .nav__menu {
    background-color: var(--body-color);
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    padding-block: 1.5rem 4rem;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }

  .nav__menu::-webkit-scrollbar {
    width: 0.5rem;
  }

  .nav__menu::-webkit-scrollbar-thumb {
    background-color: hsl(220, 12%, 70%);
  }
}


/* Estilos específicos para versiones móviles */
@media only screen and (max-width: 600px) {
  #header-icono {
      /* Ajusta la posición para pantallas más pequeñas (móviles) */
      margin-top: 4px; /* Ajusta la posición vertical según tus necesidades */
      margin-left: 5px; /* Ajusta la posición horizontal según tus necesidades */
      height: 50px;
      width: 180px;
      margin-left: -50px;
  }
}
/* Estilos específicos para versiones móviles */

@media only screen and (max-width: 600px) {
  #header-icono {
    margin-top: -4px;
    margin-left: 5px;
    height: 50px;
    width: 240px;
    margin-left: -80px;
    content: url('./img/iconoamarillo.png');
  }
}



/* Estilos de los enlaces de navegación */
.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.nav__link:hover {
  background-color: var(--first-color-lighten);
}

/* Estilos del menú cuando está abierto */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Icono de menú en dispositivos móviles */
.show-icon .nav__toggle-menu {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}

/* Estilos del desplegable */
.dropdown__button {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.5rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__content, .dropdown__group, .dropdown__list {
  display: grid;
}

.dropdown__container {
  background-color: var(--first-color-lighten);
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}

.dropdown__content {
  row-gap: 1.75rem;
}

.dropdown__group {
  padding-left: 2.5rem;
  row-gap: 0.5rem;
}

.dropdown__group:first-child {
  margin-top: 1.25rem;
}

.dropdown__group:last-child {
  margin-bottom: 1.25rem;
}

.dropdown__icon i {
  font-size: 1.25rem;
  color: var(--first-color);
}

.dropdown__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.dropdown__list {
  row-gap: 0.25rem;
}

.dropdown__link {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  transition: color 0.3s;
}

.dropdown__link:hover {
  color: var(--title-color);
}

/* Rotación del icono en el desplegable */
.show-dropdown .dropdown__arrow {
  transform: rotate(180deg);
}

/* Puntos de quiebre para dispositivos pequeños */
@media screen and (max-width: 300px) {
  .dropdown__group {
    padding-left: 1.5rem;
  }
}

/* Puntos de quiebre para dispositivos grandes */
@media screen and (min-width: 1118px) {
  /* Estilos de la barra de navegación para dispositivos grandes */
  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }

  #header-icono{

    height: 85px;
    width: 290px;
  }
  /* Oculta el botón de menú en dispositivos grandes */
  .nav__toggle {
    display: none;
  }

  /* Estilos de la lista de navegación para dispositivos grandes */
  .nav__list {
    display: flex;
    column-gap: 3rem;
    height: 100%;
  }

  /* Estilos de los elementos de la lista de navegación para dispositivos grandes */
  .nav li {
    display: flex;
  }

  .nav__link {
    padding: 0;
  }

  .nav__link:hover {
    background-color: initial;
  }

  /* Estilos del desplegable para dispositivos grandes */
  .dropdown__button {
    column-gap: 0.25rem;
    pointer-events: none;
  }

  .dropdown__container {
    height: max-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 6.5rem;
    background-color: var(--body-color);
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }

  .dropdown__content {
    grid-template-columns: repeat(4, max-content);
    column-gap: 6rem;
    max-width: 1120px;
    margin-inline: auto;
  }

  .dropdown__group {
    padding: 4rem 0;
    align-content: baseline;
    row-gap: 1.25rem;
  }

  .dropdown__group:first-child, .dropdown__group:last-child {
    margin: 0;
  }

  .dropdown__list {
    row-gap: 0.75rem;
  }

  .dropdown__icon {
    width: 60px;
    height: 60px;
    background-color: var(--first-color-lighten);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
  }

  .dropdown__icon i {
    font-size: 2rem;
  }

  .dropdown__title {
    font-size: var(--normal-font-size);
  }

  .dropdown__link {
    font-size: var(--small-font-size);
  }

  .dropdown__link:hover {
    color: var(--first-color);
  }

  .dropdown__item {
    cursor: pointer;
  }

  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }

  .dropdown__item:hover > .dropdown__container {
    top: 5.5rem;
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
  }
}

/* Ajuste para dispositivos más grandes */
@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
}


/* Oculta el botón de contacto en dispositivos móviles */

@media screen and (max-width: 768px) {
  .boton-contacto{
    display: none;
  }
  .fondo-paises{
    display:none;
  }
}
@media screen and (min-width: 600px) and (max-width: 1116px) {
    #header-icono{
    height: 50px;
    width: 180px;
    margin-left: -16%;
  
    }
    .boton-contacto{
      display: none;
    }
    .fondo-paises{
     display: none;
    }
  }


/* fin nav header */


/*Slider de los valores de empresa*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    text-align: center;
    font-size: 40px;
    padding-top: 180px;
    color:black;

}

.slider-box{
    width: 1280px;
    margin: 50px auto 0;
    margin-bottom: -200px; /*BORDE DE ABAJO DE LAS SLIDES DE VALORES*/
    overflow: hidden;
}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
    position:relative;
}

.content-valueslider{
    position:absolute;
    text-align: center;
    padding: 0 20px;
    top: 200px;
    color:white;
    border:1px solid black;
    background: rgba(10, 1, 65, 0.7);
    margin:0 90px ;

}

.content-valueslider h2{
    font-size: 45px;
    margin-bottom: 35px;
    margin-top: 35px;
} 

.content-valueslider p{
    margin-bottom: 35px;
} 


.slider-box img{
    width: 100%;
    height: 65%;
    object-fit: cover;
}
@keyframes slide {
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}

    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}

@media (max-width:991px) {

  body{
    padding:30px;
  } /*Verificar que no afecte todo*/
  .slider-box{
    width:100%;
  }

  .content-valueslider{
    position:absolute;
    text-align: center;
    padding: 0 20px;
    top: 20px;
    margin:0 30px ;
  }
  .content-valueslider h2{
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .content-valueslider p{
    font-size:10px;
    display: flex;
    align-content: center;
   
  }

 .slider-box img{
  height: fit-content;

}

}
/*Slider de los valores de empresa/*/
/*CSS DE MAIN VIDEO*/
.video_main{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.flexbox-container{
    border:1px solid black;
    background: rgba(10, 1, 65, 0.7);
    padding: 45px;
    width: 60%;
    display:flex;
    flex-direction:column;
    margin: 0 auto;/*Para centrarlo*/
    margin-top: 13%;
}

@media screen and (max-width:768px) {
    .flexbox-container{
        margin-top:30%;
    }
    
}

.logo-in-main{
    width: 60%;
}

.h_1{
    color:white;
    align-self: center;
    font-weight: bold;
    font-size:40px;
    margin-left: 13%;
}

@media screen and (max-width:768px) {
    .h_1{
        font-size: 25px;
        margin-top: 10%;
    }
    
}

.h_2{
    color: white;
    align-self:flex-end;
    margin-right: 4%;
}

@media screen and (max-width:768px) {
    .h_2{
        font-size: 15px;
    }
    
}

.contacta_button{
    margin-top: 50px;
    align-self: center;
}

.button-main-with-video{
    color:white;
    background-color: #F6AE2D;
    padding: 8px;
    border-radius: 8px;
    border:0;
    font-weight: bold;
    font-size: 16px;
    cursor:pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.button-main-with-video:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media screen and (max-width:768px) {
     button{
        font-size:11px;
        padding:7px;
        font-weight:semi-bold;
    }
    
}

/* rama team */

.team {
  width: 100vw;
  height: 70vh;
  padding: 0;
  margin: 0;
  white-space: wrap; /* No es una propiedad válida, se cambia a 'white-space: nowrap;' */
  overflow: hidden;
  position: relative;
  display: inline-flex;
  align-items: center;
}

/* Elimina márgenes en elementos relacionados con el área de 'tam' */
.content,
.content1,
.descriptionright {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
}

/* Ajusta el espacio alrededor del texto en .descriptionright según sea necesario */
.descriptionright {
  font-size: 1vw;
  line-height: 1.5;
  word-wrap: break-word; /* Se cambia a 'word-wrap: break-word;' */
}

/* Estilo para la clase .content */
.content {
  height: 70vh;
  display: flex;
}

/* Estilo para la clase .heyim */
.heyim {
  font-size: 25px;
  text-align: left;
  font-weight: bold;
  color: #A8201A;
  text-shadow: 0 1px 0 #A8201A, 0 2px 0 #A8201A, 0 3px 0 #A8201A, 0 4px 0 #A8201A, 0 5px 0 #acacac,
    0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

/* Estilo para la clase .content1 */
.content1 {
  display: grid;
  width: 33vw;
}

/* Estilo para la clase .flex */
.flex {
  align-items: center;
  display: flex;
}

/* Estilo para la imagen del equipo */
.teampicture {
  background-color: #33758A;
  border-radius: 50% 50% 0% 0%;
  align-self: flex-end;
  margin-top: auto;
  padding: 8% 5% 0% 5%;
}

/* Estilo para la clase .profession */
.profession {
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
  /* text-align: left; Se eliminó esta línea ya que se especifica dos veces */
  font-weight: bold;
  color: #A8201A;
  text-shadow: 0 1px 0 #A8201A, 0 2px 0 #A8201A, 0 3px 0 #A8201A, 0 4px 0 #A8201A, 0 5px 0 #acacac,
    0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  word-wrap: break-word;
  white-space: pre-line;
}

/* Basic styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #D8D8D8;
}

.descriptionright span {
  position: relative;
  overflow: hidden;
  display: block;
}

.descriptionright span::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation: a-ltr-after 2s cubic-bezier(.77, 0, .18, 1) forwards;
  transform: translateX(-101%);
}

.descriptionright span::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: a-ltr-before 2s cubic-bezier(.77, 0, .18, 1) forwards;
  transform: translateX(0);
}

.descriptionright span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after {
  animation-delay: 6s;
}

.descriptionright span:nth-of-type(2)::before,
.descriptionright span:nth-of-type(2)::after {
  animation-delay: 0.5s;
}

@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(101%);
  }
}

@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(200%);
  }
}

/* Estilo para la clase .descriptionright */
.descriptionright {
  padding: 1vw;
  overflow: hidden;
}

/* Estilo para la clase .descriptionright dentro de un párrafo */
.descriptionright p {
  word-wrap: break-word;
  white-space: pre-line;
}


@media screen and (max-width: 600px) {
  .team {
    height: auto;
    flex-direction: flex;
  }

  .content,
  .content1 {
    width: 100%;
  }

  .teampicture {
    margin-top: 20px;
    padding: 8% 5% 0% 5%;
    border-radius: 50%; /* Aplica el border-radius para formar un círculo */
    width: 50%; /* Ajusta el ancho según tus necesidades */
  }

  .teampicture img {
    width: 200px;
    height: 200px;
    width: 100%; /* Hace que la imagen ocupe el 100% del contenedor */
    border-radius: 50%; /* Aplica el border-radius para formar un círculo */
  }

  .descriptionright {
    display: none; /* Oculta descriptionright en pantallas más pequeñas */
    margin-top: 20px;
  }


    /* ... Otras reglas de media queries ... */
  
    /* Ocultar la sección heyim en dispositivos móviles */
    .heyim {
      display: none;
    }
  
    /* Alinear profession en la parte inferior de la imagen */
    .profession {
      text-align: center; /* O ajusta según sea necesario */
      margin-top: 10px; /* O ajusta según sea necesario */
    }
  
    /* Ajustar el tamaño de todas las imágenes */
    .teampicture img {
      width: 30vw; /* Hace que todas las imágenes ocupen el 100% del contenedor */
      height: 30vh; /* Mantiene la proporción original de la imagen */
      border-radius: 50%; /* Aplica el border-radius para formar un círculo */
    }
  }



/*FOOTER-ANDREA
-------------------------*/
.footer-general {
    color: white;
    margin-top: 0;
}
.first-footer {
  background-color: #33758A;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	padding: 50px 49px 30px 109px;
	gap: 100px
}
.h3-hablamos {
	font-size: 48px;
	max-width: 508px;
  width: 100%;
  margin-bottom: 30px;
}
.email-footer {
	max-width: 294px;
  width: 100%;
	height: 18px;
	font-size: 24px;
  margin-bottom: 10%;
}
.phone-footer {
	font-size: 24px;
  width: auto;
  margin-bottom: 15%;
}
.form-footer {
	display: flex;
	flex-direction: column;
	display: block;
  margin-bottom: 20px;
}
.form-tittle {
	max-width: 536px;
  width: 100%;
	font-size: 40px;
  margin-bottom: 25px;
}
.label-footer{
  display: block;
}
.input-form{
	width: 482px;
	height: 32px;
  margin: 5px 0 15px 0;
}
.checkbox-form{
  margin-right: 10px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.btn-form-footer{
  padding: 10px 90px;
  text-align: center;
  border-radius: 50px;
  background: var(--Color2, #A8201A);
  border: none;
  color: white;
  margin-top: 20px;
  width: 100%;
}
/*Second footer
-------------------
*/
.second-footer {
    background-color: #2f4858;
    padding: 50px 0;
}
.second-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-logo-footer{
  max-width: 300px;
  width: 100%;
}
.rrss-footer {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 60px;
}
/*final footer
----------------
*/
.final-footer {
    background-color: #2f4858;
    border-top: 5px solid #55DDE0;
}
.copy-footer{
  padding: 20px 15px;
  text-align: center;
}
.copy-footer span{
  padding-right: 10px;
}
.copy-footer a{
  color:white;
  padding: 0 10px;
  text-decoration: underline;
}
@media screen and (max-width: 1024px) {
  .first-footer {
    padding: 50px 25px;
    flex-direction: column;
  }
  .second-footer .container {
    flex-direction: column;
    gap: 20px;
  }
  .phone-footer {
    margin-bottom: 0;
  }
}

