/* Importación de fuentes de Google */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital@1&family=Montserrat:wght@100&display=swap');

/* Variables CSS */
:root {
  --header-height: 3.5rem; /* Altura del encabezado */
  /* Colores */
  --first-color: #33658A; /* Color principal */
  --first-color-lighten: hsl(220, 68%, 97%); /* Color principal aclarado */
  --title-color: #2f4858; /* Color del título */
  --text-color: hsl(220, 12%, 45%); /* Color del texto */
  --body-color: hsl(220, 100%, 99%); /* Color de fondo del cuerpo */
  /* Tipografía */
  --body-font: "Poppins", sans-serif; /* Fuente del cuerpo */
  /* Peso de la fuente */
  --font-medium: 500;
  --font-semi-bold: 600;
}

/* Estilos base */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: #33658A;
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Clase reutilizable para contenedor */
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/* Estilos del encabezado */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
  background-color: white;
  z-index: var(--z-fixed);
}

/* Estilos del logotipo en el encabezado */
#header-icono{
  height: 70px;
  width: 220px;
  margin-left: -18%;
}

/* Estilos para el desplegable de países */
.menu-item:hover .paises-container {
  display: block;
}



.paises-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.nav__link:hover .submenu .paises-container {
  display: block;
}

/* Estilos para el botón de contacto */
.boton-contacto {
  background-color: #A8201A;
  color: #fff;
  border-radius: 18px;
  padding: 8px 8px;
  margin-left: 10px; /* Ajusta el margen según sea necesario */
  height: 40px;
  margin-left: -18%;
  margin-top:20%;
  transition: background-color 0.3s; /* Agregado para la transición de color */
}

.boton-contacto h6{
  font-size: 13px;
  margin-top: 5%;
}
.boton-contacto:hover {
  background-color: #c0392b; /* Cambia el color al pasar el cursor */
}

/* Icono de país en el menú */
#icono-pais{
  height: 20px;
  width: 20px;
}

/* Contenedor de menú */
.menu-container {
  display: flex;
}

.menu-item {
  position: relative;
  margin: 10px;
}

/* Estilos de navegación */
.nav {
  height: var(--header-height);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos del logotipo en la navegación */
.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.3s;
}

.nav__logo i {
  font-size: 1.25rem;
}

.nav__logo:hover {
  color: var(--first-color);
}

/* Estilos del botón de menú en dispositivos móviles */
.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__toggle-menu, .nav__toggle-close {
  font-size: 1.25rem;
  color: var(--title-color);
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__toggle-close {
  opacity: 0;
}

/* Estilos del menú en dispositivos móviles */
@media screen and (max-width: 1118px) {
  .nav__menu {
    background-color: var(--body-color);
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    padding-block: 1.5rem 4rem;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }

  .nav__menu::-webkit-scrollbar {
    width: 0.5rem;
  }

  .nav__menu::-webkit-scrollbar-thumb {
    background-color: hsl(220, 12%, 70%);
  }
}


/* Estilos de los enlaces de navegación */
.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.nav__link:hover {
  background-color: var(--first-color-lighten);
}

/* Estilos del menú cuando está abierto */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Icono de menú en dispositivos móviles */
.show-icon .nav__toggle-menu {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}

/* Estilos del desplegable */
.dropdown__button {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.5rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__content, .dropdown__group, .dropdown__list {
  display: grid;
}

.dropdown__container {
  background-color: var(--first-color-lighten);
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}

.dropdown__content {
  row-gap: 1.75rem;
}

.dropdown__group {
  padding-left: 2.5rem;
  row-gap: 0.5rem;
}

.dropdown__group:first-child {
  margin-top: 1.25rem;
}

.dropdown__group:last-child {
  margin-bottom: 1.25rem;
}

.dropdown__icon i {
  font-size: 1.25rem;
  color: var(--first-color);
}

.dropdown__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.dropdown__list {
  row-gap: 0.25rem;
}

.dropdown__link {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  transition: color 0.3s;
}

.dropdown__link:hover {
  color: var(--title-color);
}

/* Rotación del icono en el desplegable */
.show-dropdown .dropdown__arrow {
  transform: rotate(180deg);
}

/* Puntos de quiebre para dispositivos pequeños */
@media screen and (max-width: 300px) {
  .dropdown__group {
    padding-left: 1.5rem;
  }
}

/* Puntos de quiebre para dispositivos grandes */
@media screen and (min-width: 1118px) {
  /* Estilos de la barra de navegación para dispositivos grandes */
  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }

  /* Oculta el botón de menú en dispositivos grandes */
  .nav__toggle {
    display: none;
  }

  /* Estilos de la lista de navegación para dispositivos grandes */
  .nav__list {
    display: flex;
    column-gap: 3rem;
    height: 100%;
  }

  /* Estilos de los elementos de la lista de navegación para dispositivos grandes */
  .nav li {
    display: flex;
  }

  .nav__link {
    padding: 0;
  }

  .nav__link:hover {
    background-color: initial;
  }

  /* Estilos del desplegable para dispositivos grandes */
  .dropdown__button {
    column-gap: 0.25rem;
    pointer-events: none;
  }

  .dropdown__container {
    height: max-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 6.5rem;
    background-color: var(--body-color);
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }

  .dropdown__content {
    grid-template-columns: repeat(4, max-content);
    column-gap: 6rem;
    max-width: 1120px;
    margin-inline: auto;
  }

  .dropdown__group {
    padding: 4rem 0;
    align-content: baseline;
    row-gap: 1.25rem;
  }

  .dropdown__group:first-child, .dropdown__group:last-child {
    margin: 0;
  }

  .dropdown__list {
    row-gap: 0.75rem;
  }

  .dropdown__icon {
    width: 60px;
    height: 60px;
    background-color: var(--first-color-lighten);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
  }

  .dropdown__icon i {
    font-size: 2rem;
  }

  .dropdown__title {
    font-size: var(--normal-font-size);
  }

  .dropdown__link {
    font-size: var(--small-font-size);
  }

  .dropdown__link:hover {
    color: var(--first-color);
  }

  .dropdown__item {
    cursor: pointer;
  }

  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }

  .dropdown__item:hover > .dropdown__container {
    top: 5.5rem;
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
  }
}

/* Ajuste para dispositivos más grandes */
@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
}

/* Oculta el botón de contacto en dispositivos móviles */

@media screen and (max-width: 768px) {
  .boton-contacto{
    display: none;
  }
}


/*Slider de los valores de empresa*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-color:  rgba(10, 1, 65, 0.7);
}

.titulo {
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}

.slider-box{
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
    position:relative;
}

.content-valueslider{
    position:absolute;
    text-align: center;
    padding: 0 250px;
    top: 200px;
    color:white;
}

.content-valueslider h2{
    font-size: 45px;
    margin-bottom: 35px;
} 

.slider-box img{
    width: 100%;
    height: 65%;
    object-fit: cover;
}
@keyframes slide {
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}

    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}
/*Slider de los valores de empresa/*/
