body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #f2f2f2;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    color: #333;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em; /* Tamaño de letra más grande */
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #fff;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100px; /* Ancho del menú desplegable */
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center; /* Alinear el texto al centro */
    font-size: 1.1em; /* Tamaño de letra más grande */
    transition: background-color 0.3s ease-in-out;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
